:global(.swiper-pagination) {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-left: 376px;
  margin-top: 0;
}
:global(.swiper-pagination-bullet) {
  width: 11px;
  height: 11px;
  background-color: #9ca3af;
  border-radius: 9999px;
  opacity: 0.7;
  transition: all 0.3s;
}
:global(.swiper-pagination-bullet-active) {
  width: 50px;
  background-color: #facc15;
  border-radius: 9999px;
  opacity: 1;
}